﻿@model MuonRoiSocialNetwork.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form asp-controller="Home" asp-action="Login" method="post">
                        <div class="form-group">
                            <input asp-for="Username" type="text" class="form-control" id="email1" placeholder="Your username...">
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" class="form-control" id="password1" placeholder="Your password...">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input asp-for="RememberMe" class="form-check-input" />
                                <label class="form-check-label" asp-for="RememberMe">Remember me</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info btn-block btn-round">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to trigger the modal on page load -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#loginModal').modal('show');
        });
    </script>
    }
